<div class="centered-content">
    <div class="task-manager-container">

        <!-- Sidebar (Lists) -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Listen
            </h1>

            <div class="list-menu">
               <a class="list-menu-item">
                    <p>Liste 1</p>
                </a> 
            </div>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>Liste 2</p>
                </a> 
            </div>
            <div class="list-menu">
                <a class="list-menu-item">
                    <p>Liste 3</p>
                </a> 
            </div>
            <button class="button is-primary has-text-white" (click)="createNewList()">+ Neue Liste</button>
        </div>

        <!-- Tasks -->
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Aufgabe
            </h1>
            <div class="task complete">
                <p>Aufgabe 1</p>
            </div>
            <div class="task">
                <p>Aufgabe 2</p>
            </div>
            <div class="task">
                <p>Aufgabe 3</p>
            </div>

            <button class="button is-primary has-text-white add-button">
                + Neue Aufgabe
            </button>
        </div>

    </div>
</div>

